*{
    margin: 0px;
    padding: 0px;
}


.postHeader{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.userHeader{
    display: grid;
    grid-template-columns: 1fr 11fr;
    border-bottom: 1px gray solid;
}

.nameTimeContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.profilePictureContainer > img{
    width: 100%;
    border-radius: 50%;
    padding: 5px;
}

.postTitle{
    font-size: 20px;
}